<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
    <title>Space tourism website</title>
    <link rel="stylesheet" href="<%=CSSLINK%>">
</head>

<body>

    <div class="container">
        <!--NAVBAR -->
        <div class="navbar">
            <div class="nav-logo"><img src="assets/shared/logo.svg" alt="" srcset=""></div>
            <div class="nav-items">
                <div class="nav-item"><a class="nav-link " href="/"> <b>00</b> HOME</a></div>
                <div class="nav-item"><a class="nav-link" href="/destination"> <b>01</b> DESTINATION</a></div>
                <div class="nav-item"><a class="nav-link" href="/crew"> <b>02</b> CREW</a></div>
                <div class="nav-item"><a class="nav-link" href="/technology"> <b>03</b> TECHNOLOGIES</a></div>
            </div>
        </div>