<%- include('partials/header');-%>

    <div class="Main-Section">
        <div class="Left-Area">

            <div class="content">
                <h3 class="PageTitle"><span>02</span> MEET YOUR CREW</h3>
                <h4>FLIGHT ENGINNER</h4>
                <h1>Anousheh Ansari</h1>
                <p> Anousheh Ansari is an Iranian American engineer and co-founder of Prodea Systems.
                    Ansari was the fourth self-funded space tourist, the first self-funded woman to
                    fly to the ISS, and the first Iranian in space.</p>

                <div class="nav-buttons">
                    <button class="btn"> . </button>
                    <button class="btn"> . </button>
                    <button class="btn"> . </button>
                    <button class="btn"> . </button>
                </div>


            </div>
        </div>
        <div class="Right-Area">
            <div class="planet-img"><img src="/assets/crew/image-anousheh-ansari.png" alt="Crew" srcset=""></div>
        </div>
    </div>
    </div>

    </body>

    </html>