<%- include('partials/header');-%>
    <!--Main -->
    <section class="Main-Section">
        <div class="Left-Area">
            <div class="content">
                <h3><span>01</span> PICK YOUR DESTINATION</h3>
                <div class="planet-img"><img src="/assets/destination/image-moon.png" alt="Moon" srcset=""></div>

            </div>
        </div>
        <div class="Right-Area">
            <div class="mini-nav">
                <div class="mini-nav-item selected-item"><a>MOON</a></div>
                <div class="mini-nav-item"><a>MARS</a></div>
                <div class="mini-nav-item"><a>EUROPA</a></div>
                <div class="mini-nav-item"><a>TITAN</a></div>
            </div>
            <div class="title">
                <h1>MOON</h1>
            </div>
            <div class="description">
                <p>The smallest of the four Galilean moons orbiting Jupiter, Europa is a
                    winter lover’s dream. With an icy surface, it’s perfect for a bit of
                    ice skating, curling, hockey, or simple relaxation in your snug
                    wintery cabin.</p>
            </div>
            <div class="informations">
                <div class="bx">
                    <h4>AVG . DISTANCE</h4>
                    <span>628 MIL .KM</span>
                </div>
                <div class="bx">
                    <h4>EST . TRAVEL TIME</h4>
                    <span>3 YEARS</span>
                </div>
            </div>
        </div>
        </div>
    </section>

    </body>

    </html>