<%- include('partials/header');-%>

    <div class="Main-Section">
        <div class="Left-Area">

            <div class="content">
                <h3 class="PageTitle"><span>03</span> Space launch 101</h3>
                <div class="subcontent">
                    <div class="nav-buttons">
                        <button class="btn"> 1 </button>
                        <button class="btn"> 2 </button>
                        <button class="btn"> 3 </button>
                    </div>
                    <div class="TextContent">
                        <h4>The terminology...</h4>
                        <h1>Launch vehicle</h1>
                        <p> A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a
                            payload from Earth's surface to space, usually to Earth orbit or beyond. Our
                            WEB-X carrier rocket is the most powerful in operation. Standing 150 metres tall,
                            it's quite an awe-inspiring sight on the launch pad</p>
                    </div>



                </div>



            </div>
        </div>
        <div class="Right-Area">
            <div class="Right-img"><img src="/assets/technology/image-launch-vehicle-portrait.jpg" alt="Launch 101"
                    srcset="">
            </div>
        </div>
    </div>
    </div>

    </body>

    </html>
    <!-- 00 Home
    01 Destination
    02 Crew
    03 Technology
    
    
    
    1
    2
    3
    
    The terminology...
    
    
   ! -->