<%- include('partials/header');-%>
    <!--Main -->
    <section class="Main-Section">
        <div class="Left-Area">
            <div class="content">
                <h1>Content</h1>
            </div>
        </div>
        <div class="Right-Area">
            <h1>Illustration</h1>
        </div>
        </div>
    </section>

    </body>

    </html>