/*Importing Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Bellefair&display=swap");

:root {
  --BarlowFont: "Barlow Condensed", sans-serif;
  --BellefairFont: "Bellefair", serif;
}
body {
  margin: 0;
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  color: white;
  background-size: cover;
}
/*NAVBAR*/
.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 4em 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar navbar"
    "Main-Section Main-Section";
  height: 100vh;
}

.navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 3rem 0 0 3rem;
}
.nav-logo img {
  width: 80%;
}
.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: rgba(32, 33, 37, 0.315);
  height: 5em;
  width: 55rem;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}
.nav-item {
  margin: 0 40px 0 40px;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-item:hover {
  border-bottom: 5px solid grey;
}
.nav-link,
.nav-link:visited {
  font-size: 20px;
  font-family: var(--BarlowFont);
  font-weight: 400;
  letter-spacing: 3px;
  word-spacing: 2px;
  color: white;
  text-decoration: none;
}
.nav-items:first-child {
  border-bottom: 5px solid white;
}
.Main-Section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Left-Area Right-Area";
  grid-area: Main-Section;
}

/******HomeSection****/
.Left-Area {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  grid-area: Left-Area;
}

.content {
  width: 100%;
}
.content h3 {
  font-family: var(--BarlowFont);
  font-size: 2rem;
  color: #d0d6f9;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.content span {
  color: grey;
  padding-right: 2px;
}
.planet-img img {
  width: 100%;
  padding-top: 10px;
}
.Right-Area {
  display: flex;
  flex-direction: column;
  justify-self: left;
  align-self: center;
  grid-area: Right-Area;
  width: 90%;
}
.mini-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-right: 10px;
  width: 50%;
  height: 40px;
  margin-bottom: 10px;
}
.mini-nav-item {
  font-family: var(--BarlowFont);
  font-size: 20px;
  letter-spacing: 4px;
  height: 100%;
}
.mini-nav-item:hover {
  cursor: pointer;
  border-bottom: 3px solid grey;
}
.selected-item {
  border-bottom: 3px solid #ffffff;
}
.title {
  padding: 10px 0 10px 0;
}
.title h1 {
  font-family: var(--BellefairFont);
  font-weight: 400;
  font-size: 7rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}
.description p {
  font-family: var(--BarlowFont);
  font-size: 22px;
  text-align: justify;
  word-spacing: 2px;
  color: #d0d6f9;
  line-height: 1.5;
}
.description {
  border-bottom: 1px solid grey;
}
.informations {
  display: flex;
  flex-direction: row;
  justify-self: left;
}
.bx {
  padding-right: 3rem;
}
.bx h4 {
  font-family: var(--BarlowFont);
  font-size: 18px;
  word-spacing: 2px;
  letter-spacing: 2px;
  color: #d0d6f9;
}
.bx span {
  font-family: var(--BellefairFont);
  font-weight: 400;
  font-size: 2.5rem;
  color: #ffffff;
  letter-spacing: 3px;
}
